.navbar{
    display: flex;
    justify-content:space-evenly;
}
li{
    list-style: none;
    padding-right:30px;
    padding-top: 10px;
}
ul{
    display: flex;
}
.log1{
    padding-top: 25px;
}
.edittext1{
    text-align: center;
    /* padding: 150px; */
}
.edittext2{
    text-align: center;
    clear: both;
}