@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Poppins:wght@300;400&display=swap');
*{   
font-family:'Montserrat', sans-serif;
font-size: small;
}
.navbar{
    display: flex;
    justify-content:space-evenly;
}
.back1{
 background-image: url(herocover3.png);
 background-size: 100%;
}
.logo{
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.f1 li{
    list-style: none;
    padding-right:30px;
    padding-top: 10px;
    font-weight: bolder;
}
.f1 ul{
    display: flex;
    color: white;
}
.buttn1{
   height: 40px;
   background-color: #23A6F0;
   color: white;
   border-style: hidden;
}
.log1{
    padding-top: 16px;
    color:white;
    font-weight: bolder;
}
.edittext1{
    text-align: center;
    font-size: 40px;
    color: white;
    padding-top: 100px;
    font-weight:bolder;
}
.edittext2{
    text-align: center;
    clear: both;
    color: white;
    font-size: 15px;
}
.buttons{
    display: flex;
    padding-left: 500px;
}
.but2{
    padding-left: 20px;
    padding-bottom: 250px;
}
.bt1{
    border-radius: 25px;
    height:40px;
    border-style: hidden;
    background-color: #23A6F0;
    color: white;
    font-weight: bold;
}
.bt2{
    border-radius: 25px;
    height:40px;
    background-color: transparent;
    color: white;
    border-style:solid;
    border-width: thin;
    border-radius: 20px;
    margin-left: 20px;
    width: 100px;
    border-color: white;
    font-weight: bold;
}
.edit1{
    font-weight: bold;
    font-size: 15px;
}
.sect1{
    background-image: url();
}
.f1boxes{
    display: flex;
    justify-content:center;
    margin-top: -70px;
}
.f1boxes::after{
    background-color: #f5f5f5;
}
.pm1{
    padding:20px;
    box-shadow: #e5e4e2 0px 2px 2px 2px;
    max-height: 20%;
    /* max-width: 550px; */
    background-color: white;
    background-position:20px;
}
.pm2{
    margin-left: 50px;
    padding:20px;
    box-shadow: #e5e4e2 0px 2px 2px 2px;
    background-color: white;
}
.pm3{
    margin-left: 50px;
    background-color: #23A6F0;
    padding:20px;
}
p1{
    color: white;
}
.edit{
    color: white;
}
.services{
    display: flex;
    padding-top: 100px;
    justify-content:center;
}
.ser1{
    text-align: center;
    background-color: white;
}
.ser2{
    margin-left: 50px;
    text-align: center;
    background-color: white;
}
.ser3{
    margin-left: 50px;
    text-align: center;
    background-color: white;
}
.sub{
    display: flex;
    justify-content: center;
    background-color: linear-gradient(rgb(32, 32, 175) rgb(95, 37, 95));
}
.sub1{
    width: 300px;
    border-style: hidden;
    height:50px;
}
.sub2{
    width:90px;
    border-style: hidden;
    background-color: #23A6F0;
    color: white;
    height:50px;
}
.industry1{
    padding: 90px;
    background-color: #faf9f6;
}
.ind{
    justify-content: center;
}
.p2{
    text-align: center;
    justify-content: center;
}
.edittext3{
    text-align: center;
    font-size: 30px;
}
.edittext4{
    text-align: center;
}
.edittext6{
    font-size: 30px;
    font-weight: bold;
}
.edittext10{
    font-weight: bold;
    font-size: 20px;
}
.edittext11{
    font-weight: bold;
    font-size: 15px;
}
.ind{
    justify-content: center;
    display: flex;
    padding:90px;
}
.prof{
    justify-content:space-between;
    box-shadow: #e5e4e2 0px 1px 1px 1px;
    margin-left: 50px;
    padding:10px;
    text-align: center;
    background-color: white;
}
.apps{
    display: flex;
    justify-content:space-evenly;
    padding-bottom: 50px;
}
/* .checked{
        color: orange;
      } */
.her{
    text-align: center;
}
.disct{
    display: flex;
    justify-content: center;
}
.disct li{
    list-style: none;
}
.free{
    border-style: solid;
    border-width: thin;
    border-color: #ace5ee;
    border-radius: 10px;
    height: 450px;
    margin-top: 30px;
    padding: 15px;
    background-color: white;
    
}
.free li{
    padding: 15px;
    font-weight: bold;
}
.free li{
    padding: 15px;
    font-weight: bold;
}
.stand li{
        padding: 15px;
        font-weight: bold;
}
.prem li{
    padding: 15px;
    font-weight: bold;
}
.stand{
    background-color: #252B42;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    color: white;
    padding: 15px;
}
.prem{
    border-style: solid;
    border-width: thin;
    border-color: #ace5ee;
    border-radius: 10px;
    margin-top: 30px;
    padding: 15px;
    background-color: white;
}
.freebt{
    border-radius: 5px;
    border-style: hidden;
    width:150px;
    height: 30px;
    background-color: #23A6F0;
    color: white;
}
.sides{
    background-color: #252B42;
    color:white;
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
    height: 500px;
}
.branches{
    height:100%;
    padding-bottom: 50px;
}
.lefts{
    width: 50%;
}
.rights{
    float: right;
}
.block{
    display: flex;
    justify-content: center;
    margin-top: -250px;
    padding-bottom: 100px;
}
.ap1{
    display: flex;
    justify-content:space-around
}
.btap{
    border-radius: 5px;
    height: 40px;
    width:100px;
    border-style: hidden;
    color: #b6b6b6;
    justify-content: left;
    text-align: left;
}
.btapt{
    border-radius: 5px;
    background-color: #23A6F0;
    height: 40px;
    width:100px;
    border-style: hidden;
    color: white;
    justify-content: left;
    text-align: left;
}
.bookbt{
    margin-top: 20px;
    background-color: #23A6F0;
    border-style: hidden;
    border-radius: 5px;
    width: 400px;
    height: 30px;
    color: white;
}
.appoint{
    display: inline-block;
    justify-content: center;
    padding: 30px;
    height:400px;
    justify-content: space-around;
    background-color:white;
}
/* .book{
    padding-bottom: 20px;
}
.mail{
    padding-bottom: 20px;
}
.dep{
    padding-bottom: 20px;
}
.tym{
    padding-bottom: 20px;
} */
.btap{
    width:400px;
    height: 30px;
}
.info{
    display:flex;
    justify-content: center;
}
li{
    list-style: none;
}
.n7{
    font-weight: bold;
}
.n5{
    font-weight: bold;
}
.comp{
    justify-content: start;
    padding: 0px;
}
.author{
    background-color:#faf9f6
}
.me{
    font-size: 14px;
}